// create an api key at https://platform.openai.com/
// 在openai上创建  api key https://platform.openai.com/
OPENAI_API_KEY=

// Guide for setting up google OAuth2: https://wasp-lang.dev/docs/integrations/google
// 这里有使用google OAuth2 进行登录指导 : https://wasp-lang.dev/docs/integrations/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

// you can easily set up a hosted database at https://railway.app
// 你可以使用railway 创建数据库应用  https://railway.app
DATABASE_URL=

// sendGrid key for sending out emails https://sendgrid.com/
// 使用 sendGrid 发送邮件业务 https://sendgrid.com/
SENDGRID_API_KEY=
SEND_EMAILS_IN_DEVELOPMENT=true

// Stripe Payment Keys https://stripe.com
// Stripe 使用进行支付订阅 https://stripe.com
STRIPE_KEY=
PRODUCT_PRICE_ID=
PRODUCT_CREDITS_PRICE_ID=
